.control {
    transition-duration: 1s;
    transition-property: opacity;
}

.control:disabled {
    opacity: 0.3;
}

.slot {
    display: grid;
}

.slot * {
    grid-column: 1;
    grid-row: 1;
    transition-duration: 1s;
    transition-property: opacity, transform;
}

.slot.assigned .if-assigned {
    opacity: 1;
    transform: translateX(0);
}

.slot:not(.assigned) .if-assigned {
    opacity: 0;
    transform: translateX(1em);
}

.slot.assigned .if-unassigned {
    opacity: 0;
    transform: translateX(1em);
}

.slot:not(.assigned) .if-unassigned {
    opacity: 1;
    transform: translateX(0);
}