@font-face {
    font-family: 'Handwritten';
    src: url('../fonts/handwritten.ttf') format('truetype');
}

@font-face {
    font-family: 'Redacted';
    src: url('../fonts/redacted.ttf') format('truetype');
}

* {
    cursor: default;
    font-family: 'Handwritten';
    font-size: 20pt;
    color: #fff;
}

.area {
    background-image: url(../images/area.svg);
    background-size: 100% 100%;
    overflow: hidden;
    padding: 0.25em 0.5em;
    text-overflow: ellipsis;
}

body {
    background: #222;
    padding: 1em;
}

.control {
    background-image: url(../images/control.svg);
    background-size: 100% 100%;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 0.25em 0.5em;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
}

.control.can-click {
    cursor: pointer;
}

.control.can-edit {
    cursor: text;
}

.control.can-expand {
    cursor: pointer;
    position: relative;
    padding-right: 1.5em;
}

h1 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
}

.hidden {
    display: none;
}

.link:hover {
    text-decoration: underline;
}

.map {
    margin: auto auto;
    position: relative;
}

.map-container {
    bottom: 0;
    display: flex;
    left: 0;
    overflow: scroll;
    position: absolute;
    right: 0;
    top: 0;
}

.map-row {
    display: flex;
}

.map-row+.map-row {
    margin-top: -20px;
}

.map-row:nth-of-type(2n - 1) {
    margin-left: 40px;
}

.player {
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-75%);
}

.ready::after {
    content: '✓';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.redacted-image {
    background-image: url(../images/redacted.svg);
    background-position: center;
    background-size: cover;
}

.redacted-text {
    font-family: 'Redacted';
}

select {
    appearance: none;
}

select option {
    background: #666;
    color: #fff;
}

::selection {
    background: #fff;
    color: #333;
}

.tile {
    background-image: url('../images/tile.svg');
    clip-path: polygon(40px 0, 80px 15px, 80px 50px, 40px 65px, 0 50px, 0 15px);
    cursor: pointer;
    flex-shrink: 0;
    height: 65px;
    position: relative;
    width: 80px;
}

.tile-forest {
    background-image: url('../images/tile-forest.svg');
}

.tile-grass {
    background-image: url('../images/tile-grass.svg');
}

.tile-hill {
    background-image: url('../images/tile-hill.svg');
}

.tile-mountain {
    background-image: url('../images/tile-mountain.svg');
}

.tile-water {
    background-image: url('../images/tile-water.svg');
}